{% extends "base.html" %}
{% block content %}
<div class="container">
  <h1>Login</h1>
  <form method="POST">
    {% csrf_token %}
    
    <div>
      <label for="id_username">Username</label>
      {{ form.username }}
      {% if form.username.errors %}
        <div class="error">
          {% for error in form.username.errors %}
            <p>{{ error }}</p>
          {% endfor %}
        </div>
      {% endif %}
    </div>
    
    <div>
      <label for="id_password">Password</label>
      {{ form.password }}
      {% if form.password.errors %}
        <div class="error">
          {% for error in form.password.errors %}
            <p>{{ error }}</p>
          {% endfor %}
        </div>
      {% endif %}
    </div>
    
    <div>
      <input type="submit" value="Login">
    </div>
    
    {% if form.non_field_errors %}
      <div class="error">
        {% for error in form.non_field_errors %}
          <p>{{ error }}</p>
        {% endfor %}
      </div>
    {% endif %}
    
  </form>
</div>


{% endblock %}
